body {
	font: $mainFont;
	background: $backgroundColour;
	color: $typeDefault;
}

#{headings()} {
	font: $headFont;
	color: $headColour;
	font-weight: $bold;
}

strong {
	font-weight: $bold;
}

p {
	font-weight: $thin;
	padding-bottom: 10px;
}